# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker / DB data (just in case they use local paths)
mysql_data/
.docker-data/
